
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About this website</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-12">
                <h2>About this website</h2>
                <p>Hi, I'm Elio, I'm 60 and I work for a HR company as IT manager.</p>
                <p> I am taking MOOC essentially with Coursera since  2013. This web site has been developped for the "Full Stack Web Development Specialization Capstone Project". </p>
                <p>Some functions have to be improved, feel free to modify this site with your own functions. The source code is available on github.</p>
                <div class="well">
                    <blockquote>
                        <p>You manage a heavy IT operation this saturday, call-me every hour to inform me. Each phone call is 3 minutes, if you have many persons to inform, half of your time could be wasted...</p>
                        <p>Give them an inforamtion point and they follow without asking you</p>
                        <footer>Elio,  
                        <cite title="I experienced a lot of times this situation"></cite></footer>
                    </blockquote>                
                </div>
            </div>
        </div>       
       </div> 

