
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Chronograms</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Chronograms</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showMenu">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showMenu">
                 <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showDetails ? 'Hide Details':'Show Details'}}
                </button>
                 <button ng-click="toggleFavorites()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showFavorites ? 'Hide Favorite Button':'Show Favorite Button'}}
                </button>
 		     <button ng-click="openNewChronogram()" class="btn btn-xs btn-info pull-right"
                        type="button">
                            Create Chronogram
                </button>
 		    <button ng-click="toggleDelete()" class="btn btn-xs btn-warning pull-right"
                    type="button">
		{{showDelete ? 'Hide Delete Button':'Show Delete Button'}}
                </button>
            </div>
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                    ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)"
                     aria-controls="All"
                    role="tab">All</a></li>
                    <li role="presentation"
                    ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)"
                    aria-controls="defined"
                     role="tab">Defined</a></li>
                    <li role="presentation"
                    ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)"
                     aria-controls="started"
                     role="tab">Started</a></li>
                    <li role="presentation"
                    ng-class="{active:isSelected(4)}">
                    <a  ng-click="select(4)"
                     aria-controls="delayed"
                     role="tab">Delayed</a></li>
                    <li role="presentation"
                    ng-class="{active:isSelected(5)}">
                    <a  ng-click="select(5)"
                     aria-controls="terminated"
                     role="tab">Terminated</a></li>
                </ul>
            </div>
                <div class="tab-content">
               <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="chronogram in Chronograms | filter:filtText">
                    <div class="media-left media-middle">
                        <a ui-sref="app.chronogramDetails({id: chronogram.id})">
                        <img class="media-object img-thumbnail" ng-src="/images/{{chronogram.status}}.png" style="width: 100px; height: 100px" alt="chronogram">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{chronogram.name}}
                        <span class="label label-info label-xs">{{chronogram.status}}</span>
                        <span class="badge">{{chronogram.plannedDuration}}</span></h2>
                        <p ng-show="showDetails">{{chronogram.description}}</p>
                         <button  ng-show="showFavorites" ng-click="addToFavorites(chronogram.id)" class="btn btn-xs btn-default pull-right"
                    type="button">
                          <i class="fa fa-heart"></i>
                        </button>
			<button  ng-show="showDelete" ng-click="deleteChronogram(chronogram.id)" class="btn btn-xs btn-default pull-right"
                    type="button">
                          <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </li>
            </ul>

            </div>
            </div>
        </div>

    </div>
