<div class="ngdialog-message">
        <div class="">
            <h3>Error detected</h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <form ng-submit="doCreateHistory()">
          <div class="form-group">
                    <label class="sr-only" for="description">content</label>
                    <p>{{errorMessage}}</p>
                    <input type="textarea" rows="5" class="form-control input-sm" id="description" placeholder={{errorMessage}} ng-model="newHistory.description">
		  </div>
                <button type="submit" class="btn btn-info btn-sm">Create</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button> &nbsp; &nbsp;
            </form>
        </div>
        <div>

        </div>
    </div>