
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
            <p>This application has been designed during my <b> Full Stack Web Development Specialization Capstone Project</b> session
            The data are stored in a "noSQL" database and are accessd via a loopback server located in the IBM Bluemix cloud
            The url access of the REST API is : <a href="http://chronogram-loopback-api-server.mybluemix.net">here</a></p>    
            <p>This application manipulates foolowing objects : </p>
                <ul>
            <li><b>Chronogram</b> : is the highest level entity, it is equivalent to a project</li>
            <li><b>Task</b> : is an elementary unit of work, a Chronogram is composed of many tasks</li>
            <li><b>History</b> : is a timestamped text element written by the person realizin the task in order to inform all the connected people</li>
                </ul>
                <p> To begin, click on <b>chronograms</b> in the header menu</p>
                <p><em>I found some bugs durin the tests and i'm correcting them</em></p>
                <p>An android version of this app is available on github </p>
            </div>
        </div>
    </div>
